@import url(http://fonts.googleapis.com/css?family=Share:400italic);
body {
	width:100%;
	min-width:960px;
}
#confirm input {line-height:35px;}

.main, .block-4-1, .block-4-2, .block-4-3, .block-6-1, .block-6-2, .block-6-3, .block-7-1, .block-7-2, .block-7-3, .number, .img-border-1, .button, #confirm input, #confirm textarea {
	behavior: url('js/PIE.htc');
	position:relative;
}

.main {
	box-shadow: 0 0 6px #7d7c7c;
}
.block-4-1, .block-6-1, .block-7-1 {
	box-shadow: 0 1px 2px #656565;
}
.block-4-3, .block-6-3, .block-7-3 {
	-moz-box-shadow: 0 0 2px #656565;
}
.number {
	box-shadow: 0 0 4px #656565;
}
.img-border-1 {
	box-shadow: 0 1px 2px #656565;
}
.button  {
	box-shadow: 0 0 4px #656565;
}
.sf-menu > li, .sf-menu ul {
	behavior: url('js/PIE.htc');
}
.sf-menu ul {
	box-shadow: 0 1px 2px #656565;
}
.lightbox-image span  {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#confirm input, #confirm textarea {
	box-shadow: 1px 1px 2px #a2a2a2;
}
.button img {
		margin-right:-26px;
	}
div.img-border-1 {
	box-shadow: none;
	border-radius: 0;
}
.img-border-1-1 {
	border-radius: 0;
}
.block-4-2 {
		background: #285052 url('../images/block-4-2-bg.jpg');
	}
	.block-4-3 {
		background: #285052 url('../images/block-4-3-bg.jpg') 0 100% repeat-x;
	}
.block-6-2 {
		background: #914c2f url('../images/block-6-2-bg.jpg');
	}
	.block-6-3 {
		background: #914c2f url('../images/block-6-3-bg.jpg') 0 100% repeat-x;
	}
.block-7-2 {
		background: #3d403c url('../images/block-7-2-bg.jpg');
	}
	.block-7-3 {
		background: #3d403c url('../images/block-7-3-bg.jpg') 0 100% repeat-x;
	}