#container {margin: 0 auto;width: 940px; position:relative;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}


.flexslider {
	width: 100%;
	margin: 0;
	position: relative;
	border-bottom: 7px solid #eaeae8;
	margin-bottom:19px;
}
.flexslider .slides img {
	max-width: 100%;
	display: block;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.flex-caption{
	position: absolute;
	bottom:0;
	left:0;
	width:940px;
	padding:15px 0 13px 0;
	text-align:center;
	z-index:1;
	background: url('../images/flex-caption-bg.png');
}
	.text-1 {
		font:33px/40px 'Voltaire', sans-serif;
		color:#f9f9f9;
		text-transform: uppercase;
		margin-left:-18px;
		display:block;
	}
	.text-2 {
		font: italic 14px/24px 'Share', cursive;
		color:#f9f9f9;
		margin-left:-24px;
		margin-top:-9px;
		display:block;
	}
.slider-button {
	display:inline-block;
}
.slider-button:hover .text-1, .slider-button:hover .text-2 {
	color:#5f9e5e;
}
	
/* Control Nav */
.flex-direction-nav .prev, .flex-direction-nav .next{
	display:inline-block;
	overflow:hidden;
	position:absolute;
	bottom:22px;
	z-index:2;
}
	.flex-direction-nav .prev {
		background: url('../images/prev.png') no-repeat;
		left:27px;
		font: italic 14px/39px 'Share', cursive;
		color:#f9f9f9;
		padding-left:50px;
		text-shadow: #000 1px 1px 1px;
	}
		.flex-direction-nav .prev:hover {background: url('../images/prev.png') no-repeat 0 -39px;}
		
	.flex-direction-nav .next {
		background: url('../images/next.png') no-repeat 100% 0;
		right:30px;
		font: italic 14px/39px 'Share', cursive;
		color:#f9f9f9;
		padding-right:50px;
		text-shadow: #000 1px 1px 1px;
	}
		.flex-direction-nav .next:hover {background: url('../images/next.png') no-repeat 100% -39px;}
	


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.flex-caption{
		width:748px;
	}
	.text-1 {
		font:23px/30px 'Voltaire', sans-serif;
		color:#f9f9f9;
		text-transform: uppercase;
		margin-left:-18px;
		display:block;
	}
}
@media only screen and (max-width: 767px) {
	.flex-caption {display:none;}
	.flex-direction-nav .prev, .flex-direction-nav .next{
		bottom:50%;
		margin-bottom:-39px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {

}