@import"../css/reset.css";	@import"../css/skeleton.css";	@import"../css/superfish.css";	@import"../css/forms.css"; @import"../css/flexslider.css"; @import"../css/prettyPhoto.css";
body {
	background:#14292b;
	font:12px/21px Arial, sans-serif;
	color:#8e918d;
	position:relative;
	min-width:320px;
	overflow-y:scroll;
}
html,body {
	height:100%;
}
a {
	color:#8e918d;
	outline:none;
	cursor:pointer;
	text-decoration:none;
}
img {
	max-width:100%;
	height:auto;
}

/*  Header styles */
h1 {
	float:left;
	margin-top:26px;
	margin-bottom:42px;
}
h1 a {
	display: block;
	text-indent: -999em;
	width: 220px;
	height: 80px;
	background: url('../images/logo.png') no-repeat;
}
h2 {
	font: normal 24px/29px 'Voltaire', sans-serif;
	color:#040609;
	text-shadow: rgba(0,0,0,0.34) 1px 1px 3px;
	text-transform:uppercase;
}
strong, strong a {
	font: italic 18px/21px 'Share', cursive;
	color:#aa7660;
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}
	strong a:hover {
		color:#548c53;
	}

/* GLOBAL STRUCTURE
========================================================================= */
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	overflow:hidden;
	height:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative;
}
.extra-wrap {
	overflow:hidden;
	display:block;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.alignmiddle *{
	vertical-align:middle;
}

.ident-bot-1 {margin-bottom: 21px;}
.ident-bot-2 {margin-bottom: 23px;}
.ident-bot-3 {margin-bottom: 24px;}
.ident-bot-4 {margin-bottom: 25px;}
.ident-bot-5 {margin-bottom: 14px;}
.ident-bot-6 {margin-bottom: 8px;}
.ident-bot-7 {margin-bottom: 26px;}
.ident-bot-8 {margin-bottom: 41px;}
.ident-bot-9 {margin-bottom: 11px;}
.ident-bot-10 {margin-bottom: 27px;}
.ident-bot-11 {margin-bottom: 15px;}
.ident-bot-12 {margin-bottom: 7px;}
.ident-bot-13 {margin-bottom: 10px;}
.ident-bot-14 {margin-bottom: 13px;}
.ident-bot-15 {margin-bottom: 3px;}
.ident-bot-16 {margin-bottom: 20px;}
.ident-bot-17 {margin-bottom: 19px;}
.ident-bot-18 {margin-bottom: 16px;}
.ident-bot-19 {margin-bottom: 40px;}
.ident-bot-20 {margin-bottom: 45px;}
.ident-bot-21 {margin-bottom: 9px;}
.ident-bot-22 {margin-bottom: 32px;}
.ident-bot-23 {margin-bottom: 28px;}
.ident-bot-24 {margin-bottom: 30px;}
.ident-bot-25 {margin-bottom: 36px;}
.ident-bot-26 {margin-bottom: 22px;}
.ident-bot-27 {margin-bottom: 5px;}

.ident-top-1 {margin-top: 4px;}
.ident-top-2 {margin-top: 24px;}
.ident-top-3 {margin-top: 6px;}
.ident-top-4 {margin-top: 3px;}

.ident-right-1 {margin-right: 20px;}
.ident-right-2 {margin-right: 14px;}
.ident-right-3 {margin-right: 10px;}

.ident-left-1 {margin-left: -10px;}
.ident-left-2 {margin-left: -3px;}

/* HEADER
========================================================================= */
.row-1 {
	background: #112324;
	border-bottom: 1px solid #1d3638;
	padding:6px 0 8px 0;
}
.info {
	float:right;
}
	.info li {
		float:left;
		font:11px/20px Arial, sans-serif;
		word-spacing:2px;
	}
		.info li.sitemap {
			padding-right:10px;
			border-right: 1px solid #0e1c1d;
		}
			.info li.sitemap a {
				color:#426567;
			}
				.info li.sitemap a:hover {
					color:#628c8e;
				}
		.info li.phone {
			padding-left:10px;
			border-left: 1px solid #142a2b;
		}
			.info li.phone a {
				color:#609e5f;
			}
				.info li.phone a:hover {
					color:#73b772;
				}

.row-2 {
	background: #112324 url('../images/row-2-bg.jpg') repeat-x;
}
	.row-2-1 {
		background: url('../images/row-2-1-bg.jpg') no-repeat 50% 0;
	}
	
.row-3 {
	background: url('../images/content-bg.jpg');
}
	.row-3-1 {
		background: url('../images/row-3-1-bg.png') repeat-x 0 100%;
	}
.row-4 {
	background: #14292b url('../images/row-4-bg.jpg') repeat-x;
}

nav {
	float:right;
	margin-top:50px;
	margin-right:9px;
}
		
/* CONTENT
========================================================================= */
#content {
	background: url('../images/row-3-bg.png') repeat-x;
	padding:12px 0 53px 0;
}
#page1 .main {
	margin-top:-27px;
	background: #f9f9f9;
	padding-top:0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.main {
	margin-top:-7px;
	background: #f9f9f9 url('../images/subpge-bg.png') repeat-x;
	padding-bottom:57px;
	padding-top:48px;
	-webkit-box-shadow: 0 0 6px rgba(45,45,45,0.1);
	-moz-box-shadow: 0 0 6px rgba(45,45,45,0.1);
	box-shadow: 0 0 6px rgba(45,45,45,0.1);
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.line {
	background: #e6e8e3;
	height: 1px;
	overflow:hidden;
}
.block-1 {
	padding-right:79px;
	padding-left:19px;
}
.block-2 {
	padding-left:32px;
	padding-right:3px;
}
	.block-2-1 {
		padding-left:32px;
	}
.block-3 {
	padding-right:10px;
	padding-left:18px;
}
.block-4 {
	padding-left:18px;
	padding-right:6px;
}
	.block-4 span {display:block;}
	
.block-link {
	display:block;
	position:relative;
}
.extra-1, .extra-2, .extra-3 {
	width:17px;
	height:16px;
	position:absolute;
	right:-6px;
	top:50%;
	margin-top:-8px;
}
	.extra-1 {
		background: url('../images/extra-1.png') no-repeat;
	}
	.extra-2 {
		background: url('../images/extra-2.png') no-repeat;
	}
	.extra-3 {
		background: url('../images/extra-3.png') no-repeat;
	}
	.block-link:hover .text-4, .block-link:hover .text-5 {
		color:#d7d6d6;
	}
	.block-4-1 {
		padding-right:5px;
		background:#9e6248;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	}
	.block-4-2 {
		background: url('../images/block-4-2-bg.jpg');
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	.block-4-3 {
		background: url('../images/block-4-3-bg.jpg') 0 100% repeat-x;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding: 22px 6px 21px 13px;
		-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
		box-shadow: 0 0 2px rgba(0,0,0,0.3);
	}
	
	
	
	.block-6-1 {
		padding-right:5px;
		background:#3d403c;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	}
	.block-6-2 {
		background: url('../images/block-6-2-bg.jpg');
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	.block-6-3 {
		background: url('../images/block-6-3-bg.jpg') 0 100% repeat-x;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding: 22px 6px 21px 13px;
		-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
		box-shadow: 0 0 2px rgba(0,0,0,0.3);
	}
	
	
	
	.block-7-1 {
		padding-right:5px;
		background:#c57348;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	}
	.block-7-2 {
		background: url('../images/block-7-2-bg.jpg');
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	.block-7-3 {
		background: url('../images/block-7-3-bg.jpg') 0 100% repeat-x;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding: 22px 6px 21px 13px;
		-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
		box-shadow: 0 0 2px rgba(0,0,0,0.3);
	}


.block-5 {
	padding-left:13px;
	padding-top:4px;
}

.block-8 {
	padding: 0 25px 0 32px;
}
.block-9 {
	padding: 0 38px 0 0;
}
.block-10 {
	padding: 0 30px 0 32px;
}
.block-11 {
	padding-left: 20px;
}
.block-12 {
	padding: 0 38px 0 32px;
}
.block-12-1 {
	padding: 0 34px 0 32px;
}
.block-13 {
	float:left;
	width: 634px;
	margin-top:-3px;
}
.block-14 {
	float:left;
	width:340px;
	padding-top:6px;
	padding-left:18px;
}
.col-1 {
	width:380px;
	float:left;
	margin-right:19px;
}
.rt-block-1 {
	display:block;
}
.rt-img-1-1 {
	margin-right:10px;
}
.rt-img-2-1 {
	margin-right:20px;
}
.rt-img-3-1 {
	margin-right:20px;
}
.col-2 {
	width:380px;
	float:left;
    margin-left:19px;
}
.col-3 {
	width:220px;
	text-align:center;
	float:left;
	margin-bottom:36px;
}
	.col-3-ident-1 {
		margin-right:40px;
	}
.col-4 {
	width:100%;
	display:none;
}
.col-5 {
	width:211px;
	float:left;
}

.number {
	display:block;
	float:left;
	width:44px;
	font:20px/44px 'Share', cursive;
	color:#ffffff;
	text-align:center;
	background: #4f834e url('../images/button-bg-hover.jpg');
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: #000 0 1px 1px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}

.img-border-1 {
	border: 1px solid #4f544f;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
	.img-border-1-1 {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
.text-3, .text-3 a {
	color:#60a895;
	font: italic 11px/21px 'Share', cursive;
	text-transform: uppercase;
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}
	.text-3 a:hover {
		color:#8e918d;
	}
.text-4 {
	color:#f9f9f9;
	font: 18px/24px 'Voltaire', sans-serif;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
}
.text-5 {
	color:#f9f9f9;
	font: italic 14px/18px 'Share', cursive;
	margin-top:-3px;
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}
/*  Buttons */
.button {
	display:inline-block;
	color:#f9f9f9;
	font: italic 14px/34px 'Share', cursive;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
	padding: 0 13px 0 11px;
	background: #353537;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}
	.button img {
		margin-top: 13px;
		margin-left:8px;
	}
	.button:hover {
		background: #548c53 url('../images/button-bg-hover.jpg');
	}

.link-1 {
	color:#8e918d;
}
	.link-1:hover {
		color:#5e9f5d;
	}
.link-2 {
	color:#9e6248;
	font: italic 14px/21px 'Share', cursive;
	text-transform: uppercase;
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}
	.link-2:hover {
		color:#ffffff;
		background: #538a52;
	}
	
.reserv label {
	float:left;
	display:inline-block;
}
	#date-1, #date-2, #person, #room {
		width:21px;
		height:21px;
		padding:0 10px;
		font:12px/21px "Trebuchet MS", sans-serif;
		color:#8e918d;
		border: 1px solid #e4e4e0;
		margin-right:6px;
		outline:none;
		box-shadow:none !important;
		background: #f2f2f1;
	}
	#month-1, #month-2 {
		width:187px;
		height:21px;
		padding:0 12px;
		font:12px/21px "Trebuchet MS", sans-serif;
		color:#8e918d;
		border: 1px solid #e4e4e0;
		outline:none;
		box-shadow:none !important;
		background: #f2f2f1;
	}
.reserv-2 {
	float:left;
}
	.reserv-2 input {
		margin-left:3px;
	}
.submit {
	display:inline-block;
	float:right;
	color:#60a895;
	font: italic 11px/21px 'Share', cursive;
	text-decoration:underline;
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}
	.submit:hover {
		text-decoration:none;
	}
.button-fl {float:right;}

/* PRETTY PHOTO
========================================================================= */
/* Lightbox image */
.lightbox-image {
	position:relative;
	overflow:hidden;
	display:inline-block;
	}
	.lightbox-image img {
		position:relative;
		z-index:1;
		}
	#page1 .lightbox-image img {float:left;}
	.lightbox-image span {
		display:block;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background: transparent url(../images/magnify.png) no-repeat 50% 50%;
		z-index:2;
		opacity: 0;
		}

/* FOOTER
========================================================================= */
footer {
	text-align:center;
	padding: 32px 0;
}
.policy {
	font: 12px/16px "Trebuchet MS", sans-serif;
	color: #5e9f5d;
}
.policy a {
	color: #5e9f5d;
}
	.policy a:hover {
		text-decoration:underline;
		color:#f9f9f9;
	}

/* MAP
========================================================================= */
dl {
	display: block;
	width: 272px;
}
dd span {
	float: right;
}
dl strong {
	display: block;
	font:14px/21px 'Share', cursive;
	text-transform: uppercase;
	color:#9e6248;
	-webkit-text-stroke:1px rgba(249,249,249,0.6);
}

iframe {
	width: 100%;
	height: 410px;
	margin:0;
}

/* PADDING */
/*==========================================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.rt-block-1 {
		display:inline-block;
	}
	.block-1 {
		padding-right:19px;
	}
	.block-3 {
		padding-left:18px;
	}
	#month-1, #month-2 {
		width:122px;
	}
	.ident-right-1 {margin-right: 5px;}
	#person, #room {margin-right:0;}
	.rt-img-2-1 {
		display:none;
	}
	.rt-img-1-1 {
		margin-right:20px;;
	}
	.block-14 {
		width:220px;
	}
	.block-9, .block-10, .block-12, .block-12-1 {
		padding: 0 19px 0 19px;
	}
	.rt-img-4 {
		display:none;
	}
	.col-1 {
        width: 210px;
		margin-right:30px;
	}
	.col-2 {
        width: 210px;
        margin-left:30px;
	}
	.col-3 {
		width: 180px;
	}
	.col-3-ident-1 {
		margin-right:20px;
	}
	.col-5 {
		width:170px;
	}
}
@media only screen and (max-width: 767px) {
	nav {
		float:none;
		clear:left;
	}
	.rt-block-0 {
		display:none;
	}
	.rt-block-1 {
		display:inline-block;
	}
	.block-1 {
		padding-right:19px;
		padding-left:19px;
	}
	.block-2 {
		padding-left:19px;
		padding-right:19px;
	}
	.block-4 {
		padding-right:24px;
	}
	#page1 .main {
		margin-top:-20px;
		padding-bottom:60px;
	}
	.main {
		margin-top:-6px;
		background: #f9f9f9;
		padding-bottom:60px;
		-webkit-box-shadow: 0 0 6px rgba(45,45,45,0.1);
		-moz-box-shadow: 0 0 6px rgba(45,45,45,0.1);
		box-shadow: 0 0 6px rgba(45,45,45,0.1);
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius:0 0 6px 6px;
		border-radius: 0 0 6px 6px;
	}
	.block-8 {
		padding-right:19px;
		padding-left:19px;
	}
	.block-9, .block-10, .block-12, .block-12-1, .block-2-1 {
		padding: 0 19px 0 19px;
	}
	.rt-img-2-1 {
		display:none;
	}
	.rt-img-1 {
		width:100%;
	}
	.rt-img-1-1 {
		margin-right:0px;;
		width:100%;
		margin-bottom:20px;
	}
	.block-13 {
		width:260px;
		margin-top:0;
	}
	.block-14 {
		float:none;
		clear:left;
		width:250px;
		padding-top:20px;
		padding-left:0px;
	}
	.rt-margin-1 {
		margin-bottom:40px;
	}
	.rt-margin-2 {
		margin-bottom:20px;
	}
	.col-1, .col-2 {
		width:100%;
	}
	.rt-img-3 {
		width:260px;
	}
	.rt-img-3-1 {
		width:100%;
		margin-right:0;
	}
	.rt-img-4, .col-2 {
		display:none;
	}
	.col-4 {display:block;}
	.col-3 {
		width: 100%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.submit {
		float:left;
	}
	.button-fl {float:left;}
	.block-13 {
		width:380px;
	}
	.block-14 {
		float:left;
		clear:none;
		width:220px;
		padding-top:6px;
		padding-left:18px;
	}
	.rt-img-3 {
		width:163px;
	}
	.rt-img-3-1 {
		width:165px;
		margin-right:20px;
	}
	.col-3 {
		width: 180px;
	}
	.col-3-ident-1 {
		margin-right:20px;
	}
	.col-5 {
		width:170px;
	}
}
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */